.ashley-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.ashley-mouse {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.ashley-image {
  width: 200px;
  object-fit: cover;
}
.ashley-fragment1 {
  display: contents;
}
.ashley-text3 {
  display: inline-block;
}
.ashley-fragment2 {
  display: contents;
}
.ashley-text4 {
  display: inline-block;
}
